<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/genesistoledo.com/css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!--[if (lt IE 9) & (!IEMobile)]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
        <![endif]-->

    </head>
    <body>

    <div class='container'>
      
      <header>
        <a href="/"><img src="/assets/img/logo.png" class='logo'></a>
      </header>

      {{ content }}

      <footer>
        <p>&copy; 2014 Genesis Christian Fellowship</p>
      </footer>

    </div>

    </body>
</html>
